[submodule "pruning"]
	path = pruning
	url = https://github.com/lmh970329/pruning.git
[submodule "fault-diagnosis-baseline"]
	path = fault-diagnosis-baseline
	url = https://github.com/lmh970329/fault-diagnosis-baseline.git